@{
    ViewBag.Title = "Discrepancies";
}
<div ng-controller="DeploymentsController as deployments">
    <div class="row margin-bottom-md">
        <div class="col-md-8">
            <h1>Compare Environments</h1>

            Compare <select class="input-lg" ng-options="environment.Name for environment in deployments.environments" ng-model="deployments.environmentOne"></select>
            with <select class="input-lg" ng-options="environment.Name for environment in deployments.environments" ng-model="deployments.environmentTwo"></select>
            <button class="btn btn-lg" ng-class="deployments.isLoading ? 'btn-warning' : ''" ng-click="deployments.compare()">
                <span ng-show="deployments.isLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                {{deployments.buttonText}}
            </button>
        </div>
    </div>
    <div class="row margin-bottom-md">
        <div class="col-md-8">
            <p ng-show="deployments.totalProjects != null">{{deployments.projectsWithDiscrepancies}} projects releases version numbers differ out of a total of {{deployments.totalProjects}}</p>
        </div>
    </div>
    <div class="row margin-bottom-md">
        <div class="col-md-8">
            <table class="table table-striped" style="width: 800px;">
                <thead>
                    <tr>
                        <th>
                            Project
                        </th>
                        <th>
                            <span style="white-space: nowrap">{{deployments.environmentOne.Name}}</span>
                        </th>
                        <th>
                            Deployed On
                        </th>
                        <th>
                            <span style="white-space: nowrap">{{deployments.environmentTwo.Name}}</span>
                        </th>
                        <th>
                            Deployed On
                        </th>
                        <th>
                            Age
                        </th>
                        <th>
                            Consolidate Forward
                        </th>
                        <th>
                            Consolidate Backward
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in deployments.discrepancies">
                        <td>
                            {{d.ProjectName}}
                        </td>
                        <td>
                            {{d.ReleaseOneName}}
                        </td>
                        <td>
                            {{d.ReleaseOneDeployDate}}
                        </td>
                        <td>
                            {{d.ReleaseTwoName}}
                        </td>
                        <td>
                            {{d.ReleaseTwoDeployDate}}
                        </td>
                        <td ng-class="(d.AgeInDays > 14 || d.AgeInDays < -14)?'warning':''">
                            {{d.AgeInDays}}
                        </td>
                        <td>
                            <button class="btn btn-sm" ng-disabled="d.ReleaseOneId === d.ReleaseTwoId || !d.ReleaseOneId || (deployments.deployingProjectId && deployments.deployingProjectId !== d.ProjectId)" ng-click="deployments.deployForward(d)"><span ng-show="deployments.deployingProjectId === d.ProjectId" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;{{deployments.forwardButtonName(d)}}</button>
                        </td>
                        <td>
                            <button class="btn btn-sm" ng-disabled="d.ReleaseOneId === d.ReleaseTwoId || !d.ReleaseTwoId" ng-click="deployments.deployBackward(d)">{{d.ReleaseTwoName}} to {{deployments.environmentOne.Name}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>